$matrixCellBackground: #d3d3d3;
$matrixCellHoveredBackground: rgb(246, 123, 103);
$matrixCellHoveredColor: #fff;
$matrixCellClosestHoveredBackground: rgb(245, 246, 67);
$matrixCellClosestHoveredColor: #000;
$matrixCellAndColumnsAverageSum: rgb(73, 203, 175);
