table {
  thead {
    tr {
      background: lightsteelblue;
      color: yellow;
    }
  }
  td {
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    border: 0.3px solid green;
    &:first-child {
      background: lightsteelblue;
      color: red;
    }
    &:last-child {
      color: yellow;
    }
  }
}
.table__cell_sum {
  background: lightsteelblue;
}
.table__columns_average_sum {
  background: lightsteelblue;
}
.table__columns_average {
  background: lightsteelblue;
}
.table__cell_closest {
  background: green;
}
.table__cell:hover {
  background: pink;
}
